*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f4f4f4;
}

/* Navbar */

header{
background:#2c3e50;
padding:15px 50px;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
color:white;
}

nav ul{
list-style:none;
display:flex;
}

nav ul li{
margin-left:20px;
}

nav ul li a{
color:white;
text-decoration:none;
font-size:16px;
}

/* Hero */

.hero{
text-align:center;
padding:120px 20px;
background:linear-gradient(to right,#3498db,#6dd5fa);
color:white;
}

.hero h1{
font-size:45px;
margin-bottom:20px;
}

.btn{
display:inline-block;
background:white;
color:#333;
padding:10px 25px;
text-decoration:none;
margin-top:20px;
}

/* Page */

.page{
padding:60px;
text-align:center;
}

/* Services */

.service-container{
display:flex;
justify-content:center;
gap:30px;
margin-top:30px;
}

.service-box{
background:white;
padding:25px;
width:220px;
box-shadow:0 0 10px gray;
}

/* Contact Form */

.contact-form{
width:300px;
margin:auto;
display:flex;
flex-direction:column;
gap:10px;
}

.contact-form input,
.contact-form textarea{
padding:10px;
border:1px solid #ccc;
}

.contact-form button{
padding:10px;
background:#3498db;
border:none;
color:white;
cursor:pointer;
}

/* Footer */

footer{
background:#2c3e50;
color:white;
text-align:center;
padding:15px;
margin-top:40px;
}